header {
    background-color: $primary-color;
    color: white;
    padding: 15px 0;
  
    nav {
        @include flex-center;
        width: 80%; 
        margin: 0 auto; 

        ul {
        padding: 0;
        list-style: none;

            li {
                display: inline-block;
                margin: 0 20px; 
                
                a {
                color: white;
                text-decoration: none; 
                @include hover-effect;

                    &:hover {
                        color: lighten($primary-color, 10%); 
                    }
                }
            }
        }
    }
}